<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Invoice</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
        integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet">

</head>

<body>
    <!-- <div class="container w-auto" style="left: 50%">
        <div class="popup">
            <div class="d-flex justify-content-center" style="position: absolute;">
                <h3>Enter Item Details</h3>
            </div>
        </div>
    </div> -->
    <div class="container" style="padding-top: 50px;">
        <div class="d-flex justify-content-center flex-column">
            <div class="d-flex justify-content-center" style="color: white;">
                <h2>Edit Item</h2>
            </div>
            <form method="POST">

                <div class="user_card">
                    <div class="d-flex flex-column justify-content-center" style="width: 150px;">
                        <label for="">Item ID</label>
                        <input type="text" value="{{item.item_id}}" name="item-id">
                        <label for="">Item Name</label>
                        <input type="text" name="item-name" value="{{item.name}}">
                        <label for="">Item Price</label>
                        <input type="text" name="price" value="{{item.price}}">
                        <br>
                        <button type="submit" value="submit" class="btn btn-primary">Edit Item</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>

</html>